body {
    font-family: "Liu Jian Mao Cao", cursive;
    letter-spacing: 4px;
    color: white;
    font-size: 1.5rem;
    margin: 15px 35px 45px 35px;
    background-image: linear-gradient(skyblue, darkgrey);
    text-shadow: 1px 1px 2px black;
}
h1 {
    text-align: center;
}
/* IMAGE-FORMULA */
#img1, #img2, #img3, #img4, #img5 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px aqua solid;
    outline: 1px black solid;
}
#myBtn {
    width: 20%;
    height: 70px;
    border: 1px aqua solid;
    outline: 1px black solid;
    font-size: 1rem;
    font-family: "Liu Jian Mao Cao", cursive;
}
#demo, #demo2, #demo3 {
    width: 20%;
    height: 40px;
    border: 1px aqua solid;
    outline: 1px black solid;
    font-size: 1.3rem;
    font-family: "Liu Jian Mao Cao", cursive;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 1px aqua solid;
    outline: 1px black solid;
}
footer {
    text-align: center;
    font-size: 1rem;
    color: black;
}